canvas.amaster-fps {
    position: fixed;
    z-index: 9999;
    right: 0;
    left: auto;
    top: 10px;
    background: linear-gradient(rgba(185, 236, 255, 0.75) 0, rgba(59, 127, 228, 0.9) 100%);
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    display: none;
}
canvas.amaster-fps.is-visible {
    display: block;
}
